<div class="container h-100">
  <div class=" row h-100 justify-content-center align-items-center center">
    <div class="card card-container center  " style="border-radius: 1.25em;">
        <div class="card" style="border-radius: 1.25em;">
          <article class="card-body login" style="border-radius: 1.25em;" >

            <div class="head">  
             <h2> Şifremi Unuttum</h2>
            </div>
             <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"  novalidate>
             <label for="email">E-posta</label>
  
             <div class="p-inputgroup p-mb-3">
              <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email placeholder="Güvenlik Kodu için mail giriniz" #email="ngModel" />
              <button type="button" [disabled]="email.invalid" style="width: 30%;" class="form-control" (click)="sendCode(email)" pButton pRipple label="Gönder" ></button>
            </div>
            <small class="p-error" *ngIf=" mailNotValid || (f.submitted && email.invalid)">
              <div *ngIf="email.errors && email.hasError('required')">E-posta adresi gereklidir</div>
              <div *ngIf="email.errors && email.hasError('email')">Geçerli bir e-posta adresi giriniz.</div>
            </small>
            <div class="form-group p-mt-3">
                <label for="code">Güvenlik Kodu</label>
                <input type="text" class="form-control" name="code" [(ngModel)]="form.code" required minlength="6" #code="ngModel"/>
                <small class="p-error" *ngIf="code.invalid">
                  <div *ngIf="code.hasError('required')">Güvenlik kodunu giriniz</div>
                  <div *ngIf="code.hasError('minlength')">Kod en az 6 karakter olmalıdır !</div>
                </small>
              </div>
            <div class="form-group">
              <label style="width: -webkit-fill-available;" for="newPassword">Şifre</label>
              <span style="width: 100%;   " class="p-input-icon-right">
                <i class="pi pi-eye-slash" id="togglePassword"></i>
                <input type="password" class="form-control" name="newPassword" id="password" [(ngModel)]="form.newPassword" required minlength="8" #newPassword="ngModel"/>
              </span>
  
              <small class="p-error" *ngIf="newPassword.invalid">
                <div *ngIf="newPassword.hasError('required')">Şifre giriniz</div>
                <div *ngIf="newPassword.hasError('minlength')">Şifreniz en az 8 karakter olmalıdır !</div>
              </small>
            </div>
            <div class="form-group">
                <label style="width: -webkit-fill-available;" for="passwordConfirm">Şifre Doğrula</label>
                <span  style="width: 100%;   " class="p-input-icon-right">
                  <i class="pi pi-eye-slash" id="togglePasswordConfirm"></i>
                  <input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" [(ngModel)]="form.passwordConfirm" required minlength="8" #passwordConfirm="ngModel"/>
                </span>
                <small class="p-error" *ngIf="passwordConfirm.invalid">
                  <div *ngIf="passwordConfirm.hasError('required')">Şifrenizi tekrar giriniz</div>
                  <div *ngIf="passwordConfirm.hasError('minlength')">Şifreniz en az 8 karakter olmalıdır!</div>
                </small>
              </div>
            <div class="form-group" style="margin-top: 18%;">
              <button [disabled]="code.invalid || newPassword.invalid || passwordConfirm.invalid" class="btn btn-secondary btn-block button">Şifre Yenile</button>
            </div>
      
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              Şifre yenileme başarısız!<br /> <span *ngFor="let item of errorMessage"> {{item}}<br/></span>
            </div>                                            
          </form>
          <div class="alert alert-success" *ngIf="isSuccessful">
            Şifreniz başarıyla güncellendi. Giriş sayfasına yönlendiriliyorsunuz...
          </div>
  
          </article>
      </div>
  </div>

</div>

