<div >
  <div class=" row h-100 justify-content-center align-items-center center">
    <div class="card card-container center transparent  " style="border-radius: 1.25em;">
        <div class="card" style="border-radius: 1.25em;">
        <article class="card-body login" style="border-radius: 1.25em;" >
          <div class="head">  
           <h2> Kullanıcı Bilgileri</h2>
          </div>
           <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
           <div class="form-group">
            <label class="form-label" for="email">E-posta</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="user.email" required email #email="ngModel"/>
            <small class="p-error" role="alert" *ngIf="f.submitted && email.invalid">E-posta adresi giriniz!</small>
          </div>
          <div class="form-group">
            <label class="form-label" for="fullname">İsim Soyisim</label>
            <input type="text" class="form-control" name="fullname" [(ngModel)]="user.fullname" required minlength="1" maxlength="50" #fullname="ngModel"/>
            <small class="p-error" role="alert" *ngIf="f.submitted && fullname.invalid">İsim Soyisim giriniz!</small>
          </div>
          <div class="form-group" >
            <label for="cellPhone">Telefon</label>
            <p-inputMask validateMask="true" name="cellPhone" id="cellPhone" [(ngModel)]="user.cellPhone" mask="(999) 999-9999" #cellPhone="ngModel" autofocus></p-inputMask>
            <small class="p-error" role="alert" *ngIf="user.cellPhone && validateCellPhone(user.cellPhone)">Geçerli bir telefon numarası giriniz.</small>
          </div>

          <div class="form-group">
            <label class="form-label" for="birthdate">Doğum Günü </label>
            <p-calendar [(ngModel)]="user.birthdate" name="birthdate"  [readonlyInput]="true" #birthdate="ngModel" ></p-calendar>  
            <small class="p-error" role="alert" *ngIf="f.submitted && birthdate.invalid">Doğum Günü giriniz!</small>  
          </div>
          
          <div class="form-group">
            <label class="form-label" for="gender">Cinsiyet </label>
            <p-dropdown [options]="genders" name="gender" [(ngModel)]="user.gender" placeholder="Lütfen Cinsiyet Seçiniz" #gender="ngModel"  />
            <small class="p-error" role="alert" *ngIf="f.submitted && gender.invalid">Cinsiyet Seçiniz!</small>  
          </div>

          <div class="form-group">
            <p-button style ="margin-top: 5px !important ; margin-bottom: 5px !important;" class="button is-primary is-fullwidth is-large" id="micTest" type="button"  (click)="showPassChangeDialog()">Şifre değiştir</p-button>

          </div>
          <button pButton pRipple label="Kaydet" class=" button" (click)="user.cellPhone && onSubmit()"></button>

          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Güncelleme Başarısız!<br />
            <span *ngFor="let item of errorMessage"> {{item}}<br/></span>
          </div>                                            
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful"> Güncelleme Başarılı!</div>

        </article>



<p-dialog [(visible)]="passChangeDialog" [style]="{width: '550px'}" header="{{ChangePasswordHeader}}" [modal]="true"
  styleClass="p-fluid" (onHide)="closePassChangeDialog()" (onShow)="AddDisplayHidePasswordListeners()">
  <form #f="ngForm" name="form" (ngSubmit)="f.form.valid && changePass()" *ngIf="!isChangedPassword">


    <div *ngIf="!forgotPassword" class="p-field">
      <div class="form-group">
        <label style="width: -webkit-fill-available;" for="currPassHtml">Güncel Şifre</label>
        <span style="width: 100%;   " class="p-input-icon-right">
          <i class="pi pi-eye-slash" id="toggleOldPassword"></i>
          <input type="password" class="form-control" name="currPass" id="oldPassword" [(ngModel)]="form.oldPassword" required minlength="8" #currPassHtml="ngModel"/>
        </span>
        <small *ngIf="f.submitted && currPassHtml.hasError('required')" class="p-error" role="alert">Lütfen Güncel şifrenizi giriniz!</small>
      </div>
    </div>

    <div class="form-group">
      <label style="width: -webkit-fill-available;" for="newPassHtml">Yeni Şifre</label>
      <span style="width: 100%;   " class="p-input-icon-right">
        <i class="pi pi-eye-slash" id="toggleNewPassword"></i>
        <input type="password" class="form-control" name="newPass" id="newPassword"  [(ngModel)]="form.newPassword" required minlength="8" #newPassHtml="ngModel"/>
      </span>
      <small class="p-error" *ngIf="newPassHtml.invalid">
        <div *ngIf="newPassHtml.hasError('required')">Şifre giriniz</div>
        <div *ngIf="newPassHtml.hasError('minlength')">Şifreniz en az 8 karakter olmalıdır !</div>
      </small>
    </div>

    <div class="form-group" style="margin-bottom:0px;">
      <label style="width: -webkit-fill-available;" for="newPass2Html">Yeni Şifre Doğrula</label>
      <span style="width: 100%;   " class="p-input-icon-right">
        <i class="pi pi-eye-slash" id="toggleConfirmPassword"></i>
        <input type="password" class="form-control" name="newPass2" id="confirmPassword" [(ngModel)]="form.confirmPassword" required minlength="8" #newPass2Html="ngModel"/>
      </span>
      <small class="p-error" *ngIf="newPass2Html.invalid">
        <div *ngIf="newPass2Html.hasError('required')">Şifre giriniz</div>
        <div *ngIf="newPass2Html.hasError('minlength')" >Şifreniz en az 8 karakter olmalıdır !</div>
      </small>
    </div>


    <div class="alert alert-warning" *ngIf="f.submitted && isChangePasswordFailed">
      Güncelleme Başarısız!<br />
      <span *ngFor="let item of errorMessage"> {{item}}<br/></span>
    </div>  
  </form>
  <div class="alert alert-success" *ngIf="isChangedPassword">
    <span>Şifreniz Başarıyla Yenilenmiştir</span>
  </div>
  

</p-dialog>