div#gameContainer {
    background: transparent !important;
    position: absolute;
}

    div#gameContainer canvas {
        position: absolute;
    }

    div#gameContainer[data-pixelated='true'] canvas {
        image-rendering: optimizeSpeed;
        image-rendering: -webkit-crisp-edges;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
    }
    ::ng-deep .p-dialog .p-dialog-content {
        background: #ffffff;
        color: #495057;
        padding: 0 1.5rem 2rem 1.5rem;
        min-height: 300px      ;

    }
